[2020-03-03 15:14] Devatoria opened #79 "Injector pods can be oom killed"
If the injector pod is scheduled on a node with high memory usage, it can be selected to be oom killed to free some space. It may be a real issue since it can stop the injection or the cleanup before the end, leading to some unexpected behaviors.

More than that, we might have the issue when we'll add something like the memory pressure feature.

Setting a limit to 0 is not a solution since it woul

[2020-03-05 14:18] #79 closed, assigned to nobody

[2020-12-07 22:32] jahanzebk opened #197 "count: -1 does not work"
We were trying to do a gameday with mostly network disruptions, but the Disruption resource would keep failing to create the disruption pods when we had the count set to -1, e.g.

[code]

Here is the disruption description for events:
[code]

[2020-12-08 09:07] #197 closed, assigned to nobody

[2021-01-15 14:48] noqcks opened #223 "Inaccurate comment in node_failure?"
Hi, quick question.

In node_failure.yaml the namespace metadata has a comment about a disruption resource needing to be in the same namespace as a targeted pod. I don't think this is accurate, because we're not targeting a pod, right? Or does chaos-controller require you to target pods with a label selector and then the nodes backing those pods are put into failure mode?
[code]
For node level dis

[2021-01-15 14:54] #223 closed, assigned to nobody

[2021-05-26 17:57] nikos912000 opened #317 "User Issue: issue with cgroups in EKS"
Hi folks 👋

Thanks for open-sourcing this project. Great work.

**Describe the bug**

I am trying to run Disruptions in a EKS cluster and I'm facing issues with the cgroup path.

The error I am seeing when deploying a Disruption is the following:
[code]

**To Reproduce**
These are the steps I followed on my setup.
1) I installed any resources through the `install.yaml` file.
2) I also deployed a `

[2021-05-28 19:55] blazebissar commented on #317
I ran into the same issue when trying out a CPU disruption and found a [fix](https://github.com/DataDog/chaos-controller/pull/323) that handles it on my system. I'm still working to confirm that there aren't additional edge cases but if you wanted to try it out it might work for you too.

[2021-06-01 11:24] nikos912000 commented on #317
Hi @blazebissar.
Awesome, that seems to work. Thanks a lot.

[2021-06-01 12:44] #317 closed

[2021-06-01 12:47] Devatoria commented on #317
@nikos912000 we merged the PR and we will release a new patch version soon, thank you for opening the issue!

[2021-06-15 11:47] nikos912000 opened #339 "User Request: Push 4.0.1 images to DockerHub"
**Is your feature request related to a problem? Please describe.**
Now that the 4.0.1 release is out would it be possible to push the latest images to DockerHub?

**Describe the solution you'd like**
It'd be great if the latest Docker images get pushed to DockerHub on every release. We do something similar with GitHub Actions in our projects ([example](https://github.com/ExpediaGroup/mittens/blob/

[2021-06-15 11:54] Devatoria commented on #339
Sorry, we forgot to trigger the job which is still manual but which we should make automatic very soon. It should be ok now!

[2021-06-15 11:54] #339 closed

[2021-06-17 11:37] nitinatgh opened #344 "User Issue: CPU disruption not working"
**Describe the bug**
Attempting to run a cpu stress for a targeted pod, but unfortunately there isn't any high cpu observed for the targeted pod when calling `kubectl top pod <namespace>` , and also when viewing the cpu cgroup files in the targeted pod.

**To Reproduce**
Below are the steps to reproduce this:
1. Deploy the test app pod to a new namespace
2. Create the cpu stress Custom Resource
3.

[2021-06-17 11:45] nikos912000 commented on #344
Hi folks!
I had the same issue with the CPU disruptions. I can see the disruption getting injected but there is no impact on the pod.

[2021-06-17 12:10] Devatoria commented on #344
Hi there, I'm trying to reproduce the issue and I'll let you know.

[2021-06-17 12:26] Devatoria commented on #344
It may be a `kubectl top` issue. In a CPU disruption, the injector pid is moved to the target CPU cgroup but the injector container keeps its own pid namespace. Commands like `top` or `htop` won't see the process running just because they can't see the pid, although it uses the cgroup CPU. This can be confirmed using `top` linux command:
* try to run `top` from within the targeted pod, you won't s

[2021-06-17 12:35] Devatoria commented on #344
The injector process PID not running in the targeted container PID namespace also explains why you won't see the process listed in the `cgroup.procs` file if you look at it from within the targeted container itself. Here's a concrete example I ran just now on minikube:

Injector PID taken from the node running the container:
[code]

Looking at the cgroup.procs file from the node itself:
[code]

Lo

[2021-06-17 12:44] Devatoria commented on #344
I just ran a sysbench cpu stress as a sanity check.

Without the CPU pressure applied:
[code]

With the CPU pressure applied:
[code]

[2021-06-17 17:26] nikos912000 commented on #344
Thanks for the explanation @Devatoria
You're right, the impact was not visible from our perspective. But I can see it now.

**top on the node without running a CPU Disruption**
<img width="718" alt="Screenshot 2021-06-17 at 18 14 37" src="https://user-images.githubusercontent.com/6031527/122444879-e7733d80-cf98-11eb-9bc3-e5a3d28c95b2.png">

**top on the node when running a CPU Disruption**
<img wi

[2021-06-18 13:55] Devatoria commented on #344
Awesome, let's close the issue then. However please note that while investigating this issue, I discovered a current bug in the CPU disruption. The number of CPU allocated to the injector process may not be the current number of CPU available on the node. For instance, on a 4 CPU nodes, the node can choose to allocate only 2 of them to the injector. In this case, the injector will only use 200% of

[2021-06-18 13:55] #344 closed

[2021-06-18 16:29] blazebissar opened #347 "User Request: HTTP Disruptions"
Note: While `chaos-controller` is open to the public and we consider all suggestions for improvement, we prioritize feature development that is immediately applicable to chaos engineering initiatives within Datadog. We encourage users to contribute ideas to the repository directly in the form of pull requests!

**Is your feature request related to a problem? Please describe.**
@scottjr632 and I ar

[2021-06-18 16:33] ptnapoleon commented on #347
This is a desirable feature, and we're willing to collaborate on both/either of design or implementation. We're definitely happy to take suggestions for a design. We hadn't planned to start this anytime soon, so there's no risk of duplicate work (at least not in the near future)

[2021-06-18 17:10] Devatoria commented on #347
Thank you for the request. It is, indeed, a desirable feature. We haven't designed anything related to this yet but I have some (eventually wrong) ideas in mind.

If the idea is to apply the same disruptions as a network disruption but with filters based on HTTP headers (like the verb, the path, the host, etc.), there is a potential implementation with a combination of `iptables` and existing netw

[2021-06-22 08:29] nitinatgh commented on #344
Thanks Devatoria for taking time to look into this, greatly appreciated!
The process is now clear from your explanation in how this works.
Thanks!

[2021-06-23 10:11] nikos912000 opened #350 "User Request: Support for duration"
**Is your feature request related to a problem? Please describe.**
Usually chaos engineering experiments run over a predetermined period of time. This has many benefits:
- Users don't need to terminate the experiments manually.
- It acts as a safety net; it is fairly easy to forget to terminate experiments.
- Many times users of chaos engineering frameworks don't even have access to tools like kub

[2021-06-23 11:02] Devatoria commented on #350
Hello @nikos912000 and thanks for the feedback. It is a feature that we are planning to implement soon, because of most of the reasons you mentioned. The global idea would be to have a default (but customizable for long experiments) timeout on disruptions so the disruption would expire by itself.

We monitor long running disruptions on our side and we indeed see a lot of people forgetting about an

[2021-06-23 11:24] nikos912000 commented on #350
Awesome, thanks @Devatoria.

We have this feature in a similar controller internally so happy to provide feedback. The main difference is the architecture (we don't have an injector pod) but I think it'll work in a similar ways as described in my message above.

If that helps:
- We also set a default duration in the CRD
- We have validation both on the CRD + server side
- For certain disruptions w

[2021-06-23 15:02] nikos912000 opened #351 "User Issue: Pod level network disruptions not working"
**Describe the bug**
I have been trying the pod level network disruptions over the last days but I can't see any impact.
I have Istio installed but I disabled it for the time being to rule that factor out.

**To Reproduce**
First, I deployed the demo resources from this repo. I only changed the namespace to `chaos` as I'm using that one.

**Logs from the demo-curl pod before the disruption**
<img

[2021-06-23 15:24] Devatoria commented on #351
For the first disruption manifest you provided, you are disrupting port `80` but the service port is `8080`. Have you tried the exact same disruption but with port `8080` instead? At the pod level, the packets are not yet NATed to the endpoint port so the destination port (and IP) is still the service one and not the endpoint one.

For the second example, with service disruption, it should work th

[2021-06-23 15:44] nikos912000 commented on #351
Yup. I tried with 8080 as well but still not impact.

The cluster is in the `iptables` mode from what I can see:
[code]

[2021-06-23 15:50] Devatoria commented on #351
Ok thanks. As a sanity check, does it work if you drop all outgoing traffic of the pod (without specifying the `hosts` or `services` fields, only `drop: 100`)? So I know if it is related to filters or the disruption injection itself.

Also I don't know how much you feel comfortable with networking tools but I'd definitely like to have a small `tcpdump` extract from within the targeted pod network

[2021-06-23 16:04] nikos912000 commented on #351
Thanks @Devatoria
`does it work if you drop all outgoing traffic of the pod`, no same issue unfortunately.
As regards the tcpdump let me check what I can do.

[2021-06-23 17:09] nikos912000 commented on #351
Here is the latest Disruption:
[code]

While this was running I took the following tcpdump (all interfaces) from the `curl-demo` pod (`dummy` container):
[tcpdump.txt](https://github.com/DataDog/chaos-controller/files/6703744/tcpdump.txt)

[2021-06-24 13:04] nikos912000 opened #352 "User Request: Support for pod state disruptions"
**Is your feature request related to a problem? Please describe.**
Pod state failures (e.g. graceful/non-graceful deletion) are common disruptions in the Chaos Engineering community.

The reasoning behind pod failures is that Kubernetes pods are ephemeral resources; they get destroyed, restarted, recreated.

This happens in many cases:
- When deploying a new version of an application
- In case the

[2021-06-24 13:06] nikos912000 commented on #352
I'm happy to take a stub on this soon once we decide on these implementation details.

[2021-06-30 12:21] nikos912000 opened #358 "User Request: Self-signed certificates generated through Helm"
**Is your feature request related to a problem? Please describe.**
Internally we don't have the `cert-manager` installed in certain clusters which required us to [configure the admission hook](https://github.com/DataDog/chaos-controller/blob/main/docs/installation.md#admission-webhook).

There are many ways to generate certificates but it'd be nice to provide a solution that works out-of-the-box f

[2021-07-01 11:43] Devatoria commented on #358
I don't see any issue for this to be helm specific. The chart we provide is an All-in-One chart that can be used to deploy the controller but it can be totally customized when needed. To be honest, we are not using it internally and we have our own chart for the exact same reasons as you (we do not use cert-manager).

We are totally open to a PR that would make this a bit more generic. We chose ce

[2021-07-01 11:54] Devatoria commented on #352
Hi, sorry for the very late reply but we couldn't find time to answer to this yet.

We never implemented this disruption in the controller because at Datadog we consider a pod being killed (either softly or violently) should not impact us at all as long as the pod can be rescheduled elsewhere to keep the scale. But we definitely agree that it could be an interesting feature outside of the Datadog

[2021-07-01 11:55] Devatoria commented on #351
Still couldn't reproduce that, I'll take some time on this one asap, sorry for the delay.

[2021-07-01 17:23] nikos912000 commented on #358
Cool. I'm not sure if there is a way to assign this issue to me but I'll raise a PR by next week.

[2021-07-04 04:35] scottjr632 commented on #347
@blazebissar and I have created an [initial design doc](https://docs.google.com/document/d/1tYC2XaIucLYvgqQE8A0bUEsoM8w_t7tL-mTTX0EEch4/edit#) for this enhancement. Any feedback or critique is welcomed!

[2021-07-06 19:48] nikos912000 commented on #352
Sure thing.
In that case this will be a process/container termination that would lead to a pod termination achieving the same goal.
I'll go through the code in the following days and I will post an update for the design.

[2021-07-06 19:49] ptnapoleon commented on #347
I'm curious to see how well the poc performs, but the design looks reasonable

[2021-07-11 21:04] blazebissar commented on #347
We made some modifications to the design based on a small-scale POC and the comments everyone has made. Later this week we plan to make the POC within the `chaos-controller`.

[2021-07-18 02:04] blazebissar commented on #347
We're running a little behind schedule and are anticipating completion of the POC by 24 July.

[2021-07-19 17:36] nikos912000 commented on #358
Closing this as the changes have been merged.

[2021-07-19 17:36] #358 closed

[2021-07-22 04:17] Bhumika1997 opened #369 "Chaos Controller pods in Container Creating State"
Hi,
I have installed Chaos Controller but my Chaos Controller pods are in Container Creating State
![image](https://user-images.githubusercontent.com/33874082/126589307-64f019f6-6f1c-4595-986c-10d9c0e3186d.png)
Can somebody please help me on this?

[2021-07-22 12:55] ptnapoleon commented on #369
Hi, can you please share the output of `kubectl describe` on those pods, please?

[2021-07-23 12:00] sasidharsmit commented on #351
We might have an inkling of the issue with network attacks on pods.

**What we did:**
@nikos912000  & I did a dns attack on the pod today. Although the findings are specific to the DNS attacks, this might very well be applicable to other network attacks on pod as well.

Below is the Disruption:

`apiVersion: chaos.datadoghq.com/v1beta1
kind: Disruption
metadata:
  name: dns
  namespace: chaos-demo

[2021-07-23 12:26] Bhumika1997 commented on #369
![image](https://user-images.githubusercontent.com/33874082/126781348-0411cc40-2019-43cc-8696-351147c77a1b.png)
I am getting error while doing kubectl describe pod

[2021-07-23 19:17] ptnapoleon commented on #369
Hmm, that's odd, for the pod to be in `ContainerCreating`, it must exist to be described. Are you still seeing the pod with `kubectl get pods`? Do you need to specify the namespace too when describing, perhaps? If you still can't describe the pod, any luck with describing the deployment?

[2021-07-28 16:03] nikos912000 opened #375 "User Request: Dead man's switch"
**Is your feature request related to a problem? Please describe.**
At the moment the "big red button" for single and multiple experiments relies on the operator having access to the cluster.
For example, the operator can run a `kubectl delete Disruption <name>` for one or more disruptions.

It would be great if the controller had a dead man's switch. In case connection to the cluster is lost the c

[2021-07-29 09:02] #375 closed

[2021-07-29 09:03] #352 closed

[2021-07-29 09:03] #350 closed

[2021-07-29 09:03] #347 closed

[2021-08-05 17:01] nikos912000 commented on #351
I spent some time on this today.
I'm 90% sure it has to do with the container runtime. Internally we are using docker and pod level network (inc. DNS) disruptions are not having any effect.

Below you can find a way to reproduce this.

**Containerd runtime (working)**
- Run the `make minikube-start` as it is; the `--container-runtime` is set to `containerd` in the Makefile.
- Run `make install` &

[2021-08-12 08:46] nikos912000 opened #390 "User Issue: Node level DNS disruptions impact the DNS records of all cluster's Kubernetes Services"
**Describe the bug**
While testing the DNS disruptions at node level I noticed a couple of critical issues.

In summary, these impact the DNS records of all cluster's Kubernetes Services (`*.svc.cluster.local`).

**To Reproduce**
Steps to reproduce the behavior:
1. Start the provided minikube setup
    - `make minikube-start`
    - `make minikube-build`
    - `make install`
2. Do a `nslookup` befo

[2021-08-13 13:05] nikos912000 commented on #390
I think I found what is wrong.

FakeDNS forwards any queries that do not match the specified rules to the IP address set through the [dns argument](https://github.com/DataDog/chaos-controller/blob/825dc707fea39aaa125363ead9a46f6f5b5ee5cf/bin/injector/dns_disruption_resolver.py#L685). This is set to `8.8.8.8` by default.

This is fine for external queries or in cases where the cluster's DNS (kube-d

[2021-08-13 13:47] ptnapoleon commented on #390
Thanks for identifying the fix! I do agree that would be the proper solution.

[2021-08-13 14:50] nikos912000 commented on #390
Awesome, thanks @ptnapoleon.
I'll be on holidays but if no one else picks this up I'll take care of it once I'm back :)

[2021-08-16 20:32] sabinecodes15 opened #393 "User Issue: :latest tag did not work for datadog/chaos-injector, but :4.2.1 did"
**Describe the bug**
While trying to use the `container_failure_all_forced.yaml` disruption, the pod created to inject the disruption failed to pull the image from Docker Hub. Adding the tag `:4.2.1` to `image: datadog/chaos-injector` in the install.yml file resolved this.

**To Reproduce**
Steps to reproduce the behavior:
1. Do `kubectl apply -f https://raw.githubusercontent.com/DataDog/chaos-con

[2021-08-17 08:59] Devatoria commented on #393
Hi and thank you for the feedback. We indeed do not push the `latest` tag for multiple of reasons, but here's the main one:

All images must use the exact same tag to work together, for compatibility reasons (`chaos-controller`, `chaos-injector` and `chaos-handler`). If we publish a new version of images and push the latest tag, you are not ensured that the newly spawned `chaos-injector` pods are

[2021-08-17 10:28] #393 closed

[2021-09-20 18:22] nikos912000 opened #409 "User Issue: injector panics due to cgroupPaths containing an empty string"
**Describe the bug**
While working on #405 I came across an issue in the main branch where the injector panics when retrieving the [cgroupPaths](https://github.com/DataDog/chaos-controller/blob/feaeb6e675327740a76bc56caa182ae11d9a47cb/cli/injector/main.go#L200).

**To Reproduce**
Steps to reproduce in minikube:
1. `make minikube-start`
2. `make minikube-build`; make sure the new images are not cac

[2021-09-20 18:24] ptnapoleon commented on #409
Sorry I broke this for you! I'm a bit surprised you get a cgroupPaths with only an empty string, I'll investigate

[2021-09-20 18:41] ptnapoleon commented on #409
I can reproduce this locally, thanks

[2021-09-20 18:42] ptnapoleon commented on #409
wow terrible oversight on my part, I'll try to get a fix out tonight

[2021-09-20 19:01] nikos912000 commented on #409
Thanks for looking and no worries at all. It can wait until tomorrow for sure.

[2021-09-21 09:28] #409 closed

[2021-09-21 18:00] #390 closed

[2022-01-05 13:20] nikos912000 opened #467 "User Request: Compatibility with Kubernetes 1.22"
The Kubernetes 1.22 release brought a set of backwards incompatible changes.
One that affects this project is the [removal of deprecated beta APIs](https://kubernetes.io/blog/2021/08/04/kubernetes-1-22-release-announcement/#removal-of-several-deprecated-beta-apis).

**Is your feature request related to a problem? Please describe.**
The provided charts are not compatible with Kubernetes 1.22.

**De

[2022-01-06 12:27] Devatoria commented on #467
Thanks for reaching out. We'll track that internally to be compatible with 1.22.

[2022-02-01 18:03] nikos912000 opened #491 "User Issue: Injector Pod stuck in Failed phase with reason DeadlineExceeded"
**Describe the bug**
We have been intermittently running into an issue where the injector Pod gets stuck in the `Failed` phase with the following context:
[code]

**Deployed Disruption**
Note: We didn't set the duration when applying the Disruption. This defaults to 15 mins which is reflected in the CR.
[code]

**Disruption specs**
[code]

**Injector Pod specs**
The finaliser gets successfully rem

[2022-02-01 18:19] nikos912000 commented on #491
Awesome, thanks for the prompt response @ptnapoleon :)

[2022-02-02 15:44] nikos912000 commented on #491
Hi @ptnapoleon,
I was testing the new version today. I see the following behavior and I'd like to confirm if this was the intention of the patch.
- The injector Pods end up in the `Failed` state. This now happens in the majority of the experiments.
- Eventually the Pods are cleaned up once the Disruption expires.

Is this intentional so the Pods never end up hanging in the `Terminating` state?

[2022-02-02 16:00] ptnapoleon commented on #491
Yes. I'll try to follow up with a PR that has the same behavior but without the injector pods ending up `Failed`

[2022-02-02 16:05] nikos912000 commented on #491
Got it, thank you 👍

[2022-02-02 20:32] ptnapoleon commented on #491
I'm hoping https://github.com/DataDog/chaos-controller/pull/493 will resolve this issue

[2022-02-02 22:28] nikos912000 commented on #491
Nice, thanks a lot. Would you like me to test that internally or you are planning to draft a release?

[2022-02-03 15:21] ptnapoleon commented on #491
I will draft a release for you to test with

[2022-02-03 15:23] ptnapoleon commented on #491
5.4.0 tagged, will be on dockerhub soon

[2022-02-04 16:30] nikos912000 commented on #491
Hi @ptnapoleon,
I tested 5.4.0 today and I see the same behavior, with the Pod in the `Failed` state.
It is not a critical issue as the Pod is eventually getting cleaned up, when the Disruption expires.

[2022-02-04 17:36] nikos912000 opened #495 "User Issue: Injector Pod stuck when executing kernel panic disruption"
**Describe the bug**
I have been executing kernel panic attacks and the injector Pod gets stuck in the `Terminating` state (`exit code: 255`).
The controller is not able to remove its finalizer and eventually to clean up the injector Pod and the Custom Resource. It logs the following:
[code]

I was wondering if this is expected.

In node terminations this is not an issue as the Pod will get evicte

[2022-02-04 18:30] ptnapoleon commented on #495
Oh I see. This isn't a problem for us because the node gets replaced on any nodeFailure disruption, which is why the only way we handle it is to check if the target node is gone, and if yes, go ahead and clean up the stuck pod.

The only idea for a fix I have for this is to go ahead and remove the chaos pod finalizer from within before we create the kernel panic, though it runs the risk that the d

[2022-02-04 18:51] nikos912000 commented on #495
Interesting.

I'm curious why the node gets replaced for you.
Does its health-check fail and auto-scaling kicks in?
If this is the case, what is the difference between the 2 node failures for you from a behavior perspective?

I think it is sensible to remove the finalizer once the Disruption expires?

[2022-02-04 20:00] ptnapoleon commented on #495
Hmm, for node failures specifically, that seems fine? There's nothing to clean, really. @Devatoria ?

Almost nothing, afaict

I think it's cloud provider health checks failing

[2022-02-07 11:44] nikos912000 opened #497 "User Request: Feature flag to disable deletion of Disruption"
**Is your feature request related to a problem? Please describe.**
Our team is working on integrating the chaos controller with our CI/CD platform.

The setup we have is as follows:
- [Kubefed](https://github.com/kubernetes-sigs/kubefed) acts as the control plane and propagates any changes to worker clusters.
- Worker clusters are the ones where workloads get deployed. These are the clusters where

[2022-02-07 14:05] ptnapoleon commented on #497
Absolutely, happy to add this

[2022-02-07 14:12] nikos912000 commented on #497
Awesome, thank you.
Is it just checking this flag in [here](https://github.com/DataDog/chaos-controller/blob/fbb4fad2952ab3390ebe4188e071b27b926663cc/controllers/disruption_controller.go#L174)?
Happy to raise the PR.

[2022-02-07 16:06] ptnapoleon commented on #491
Interesting! It has stopped happening for us. Are your chaos pods failing to delete themselves?

[2022-02-07 17:25] ptnapoleon commented on #497
Yes, more or less. I will have a PR for you to review today

[2022-02-08 14:35] #497 closed

[2022-02-09 18:15] ptnapoleon commented on #495
I'm testing https://github.com/DataDog/chaos-controller/pull/503 . It seems simple and safe. Altering the finalizer logic by having chaos pods mutate their own finalizer was causing reconcile issues in the controller

[2022-02-10 17:05] nikos912000 commented on #495
@ptnapoleon perfect, this works as expected. Thank you Philip.

[2022-02-11 12:28] HoChristinaWuiYan commented on #344
Hi,
An update on this.
I ran `kubectl top pods -A -l app=<label>` and I am now able to get cpu core usage in kubernetes.
Just wondering what has changed since the last post.
![image](https://user-images.githubusercontent.com/32218123/153590004-441e931e-3ff2-470f-9485-d4ebe8d0618e.png)
![image](https://user-images.githubusercontent.com/32218123/153590022-752ace25-d342-4d8b-a400-611f41dba7b8.png)
He

[2022-02-11 15:25] #495 closed

[2022-02-14 12:07] nikos912000 opened #507 "User Request: Support for percentage in CPU stress"
**Is your feature request related to a problem? Please describe.**
A common use case for CPU stress is for testing CPU-based autoscaling. Right now the controller only supports 100% of CPU pressure.
It would be great to be able to specify percentages.

**Describe the solution you'd like**
Looking at the implementation, the injector Pod creates a goroutine per core. I'm wondering if the lack of sup

[2022-02-14 14:18] nikos912000 commented on #507
Thanks Joris.

Got it, it gets tricky due to its implementation.

I think a percentage would be more user-friendly, but if it is not deterministic it may confuse the users.

Do you know how tools like [stress-ng](http://manpages.ubuntu.com/manpages/bionic/man1/stress-ng.1.html) achieve the that? It seems to support number of workers (cores) and load (percentage).

[2022-02-16 16:20] nikos912000 opened #510 "User Request: Debugging instructions"
**Is your feature request related to a problem? Please describe.**
It would be nice to provide instructions on how to debug the controller vs an existing cluster.
Running this locally, in an IDE, requires some effort but is feasible.

**Describe the solution you'd like**
Any required files and documentation on how to run the controller -in an IDE- vs an existing cluster.

**Describe alternatives y

[2022-02-16 17:14] ptnapoleon commented on #510
I don't ever run the controller in an IDE, though I do know ` requires some effort but is feasible.` to be true. Is this something you have working?

[2022-02-16 17:56] nikos912000 commented on #510
Hey Philip. Yes, I got a working setup so happy to document it.

[2022-02-16 18:09] nikos912000 opened #511 "User Issue: Status not being a subresource causes issues with control planes"
**Describe the bug**
Right now, the status is not defined as a [subresource](https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#status-subresource) in the CRD. This means that the entire object gets updated, including its generation.

This causes issues, especially when integrating with control planes, like Kubefed; the control plane sees the object's

[2022-02-16 18:33] ptnapoleon commented on #511
Not especially, it was just extra work at the time, and we didn't have a need for it. I think we're willing to change it

[2022-02-16 18:51] nikos912000 commented on #511
That would be very useful. We are integrating with Kubefed and Spinnaker and this unfortunately causes a lot of issues :(

I hope it makes sense from a design point of view - this is how most controllers define the status afaik.

From a quick look, the following changes are needed:
- [This](https://github.com/DataDog/chaos-controller/blob/a16e95d9f238d5eed6cee2c07430ecdb3d8e1c90/controllers/disrup

[2022-02-22 09:24] Devatoria commented on #510
#515 is merged, I'm closing this one, thanks!

[2022-02-22 09:24] #510 closed

[2022-02-22 12:24] nikos912000 commented on #491
Sorry for the delay @ptnapoleon, I missed this.
I tested this again today and it's not happening anymore. Not sure if something changed in our clusters as I only reproduced there.
Happy to close and thanks again!

[2022-02-22 12:24] #491 closed

[2022-02-28 16:17] ptnapoleon commented on #511
Closed by https://github.com/DataDog/chaos-controller/pull/520 , hopefully? We will cut a release this week

[2022-02-28 16:23] nikos912000 commented on #511
Amazing, thank you @ptnapoleon!

[2022-02-28 16:23] #511 closed

[2022-03-21 17:08] nikos912000 opened #526 "User Issue: Traffic surge once a packet drop network failure finishes"
**Describe the bug**
We have been testing the packet drop failures internally. One thing we noticed is that once an experiment finishes there is significant traffic surge in the targeted applications which can harm them.

I may be missing implementation details but aren't packets dropped completely instead of piling up?

**To Reproduce**
In minikube:
1. Deploy the following Disruption:
[code]
2. D

[2022-03-21 18:51] ptnapoleon commented on #526
Hmm, we're just telling `tc` to drop the packets, and afaict from reading tc documentation, they should literally be dropped

[2022-03-22 21:05] nikos912000 commented on #526
Thanks for the context 👍

Adding a few more details below.

Indeed, we had this in mind. We are testing using a -synchronous- client that does not implement retries. But the Istio proxy sidecar which is running alongside the application's container may retry requests.

Based on the above, I tried replicating the issue in minikube. I've included the reproduction steps. If I am not missing anything,

[2022-03-23 11:24] Devatoria commented on #526
As based on the [docs](https://curl.se/docs/manpage.html) curl does not retry by default.

Can you see the surge of requests incoming in the demo-nginx pod logs on disruption removal? Just to confirm that what you're observing through metrics is actually what's really happening please (ie. a lot of "stuck" requests reaching the nginx pod suddenly on disruption removal).

[2022-03-23 13:03] nikos912000 commented on #526
Sorry, I had a different mental model for the demo-curl...
This sends a request every second by default (e.g. in minikube) but in our clusters we override that to be every 30s.

I tested again in minikube and the requests I am seeing on the client and Nginx side are the ones initiated after the experiment finishes.

We will check our application's client and Istio as they may be the reason. Thanks

[2022-03-23 13:26] Devatoria commented on #526
👍  You're welcome. I'm closing the issue for now but feel free to re-open it if there's anything else showing up about this.

[2022-03-23 13:26] #526 closed

[2022-05-16 10:54] sasidharsmit opened #538 "User Issue: CPU pressure does not consume 100% of the pods allocated CPU"
**Describe the bug**
"CPU pressure" attack does not consume 100% of the CPU allocated to a Kubernetes pod.

**To Reproduce**
Steps to reproduce the behavior:
I injected a "CPU pressure" fault into a pod with 2 containers:

1. Application container (name: fault-injection-showcase, CPU requests: 16 cores, CPU limits: 16 cores)
2. Istio sidecar container (name: istio-proxy, CPU requests: 100 millicor

[2022-05-18 16:49] nikos912000 opened #542 "User Request: store failures in the Custom Resource's status"
**Is your feature request related to a problem? Please describe.**
To improve developer experience we are integrating the controller with our Continuous Delivery platform. Since any failures are only logged in the controller showing that feedback in the UI is not trivial.

**Describe the solution you'd like**
It would be helpful to store any errors related to a specific experiment in the Custom Re

[2022-05-18 16:53] ptnapoleon commented on #542
I assume the events that we record on the Disruption object are lacking, but could you expand on why? I do know that the API for reading events on a k8s object is extremely inconvenient compared to reading the status. We could do this, but at least for our users (and we don't use CD for disruptions here too often), they are always checking feedback via `kubectl describe`

[2022-05-19 10:28] nikos912000 commented on #542
I need to do some digging on the events and on how to get them through our control plane. I'll post an update on this 👍

Do you know if we can somehow get the errors from the validating webhook? Since no Custom Resource gets created in that case we cannot have these errors in the status or in events isn't it?

[2022-05-19 13:20] ptnapoleon commented on #542
As far as I know, the validating webhook should already be returning errors, if it finds any? We try to catch every error that can be caught upfront within the webhook

[2022-06-10 18:03] ptnapoleon commented on #542
@Devatoria @clairecng opinions on adding this?

[2022-06-16 09:31] clairecng commented on #542
After some time thinking/testing, we could send an event on the validation [here](https://github.com/DataDog/chaos-controller/blob/main/api/v1beta1/disruption_webhook.go#L104), which could then be broadcasted (so picked up in the logs, in datadog or in slack), even if the disruption is deleted just after that. Using the kubernetes API, it could still be accessible by listing all events and doing a

[2022-06-17 10:42] nikos912000 commented on #542
@clairecng @ptnapoleon thanks for looking into that.

Claire, that sounds good. I had a feeling the Disruption does not get created at all if it fails that validation, isn't it?

On a similar note, I started a [discussion](https://github.com/DataDog/chaos-controller/discussions/554) on how visibility/troubleshooting could be improved.

[2022-06-17 12:18] clairecng commented on #542
@nikos912000 The disruption is already created when passing through the ValidateCreate method of the webhook, and is deleted when an error is returned.

[2022-07-20 15:18] nikos912000 opened #560 "User Issue: Security vulnerabilities flagged in Docker images with Go 1.16"
**Describe the bug**
Hi 👋

We have container scanning in place and it is flagging certain security vulnerabilities that are exploited when Go 1.16 is used. The images we scan are the ones from DockerHub.

I was checking the codebase and my assumption was that Go 1.18 is used to build the binaries and in the Docker images (e.g. [here](https://github.com/DataDog/chaos-controller/blob/22464e31d53b676

[2022-07-20 16:56] ptnapoleon commented on #560
Weird, I certainly think we're using go 1.18? I'm about to cut a new release today, let's check again if that still says 1.16

[2022-08-04 12:15] nikos912000 commented on #560
@ptnapoleon we brought the latest version internally and it is looking good. Thanks for the fix 👍

[2022-08-04 12:15] #560 closed

[2022-08-08 13:48] ptnapoleon commented on #560
I'm confused, I didn't change anything but cut a new release, so please let us know if you notice this regressing. We did make some changes to build multi-arch images, maybe that coincidentally fixed this

[2022-08-08 17:37] nikos912000 commented on #560
I suspect it was [this change](https://github.com/DataDog/chaos-controller/commit/b99dcacfa4e64f1ee9400ed2a04e01b7d3f835be) that fixed the issues?
I couldn't understand why the scanner showed 1.16 instead of 1.17 though...
I will be monitoring the results 👍

[2022-08-22 08:49] baluishere opened #575 "User Request: Release Dynamic Targeting behind a feature flag in controller"
Note: While `chaos-controller` is open to the public and we consider all suggestions for improvement, we prioritize feature development that is immediately applicable to chaos engineering initiatives within Datadog. We encourage users to contribute ideas to the repository directly in the form of pull requests!

**Is your feature request related to a problem? Please describe.**

After deploying con

[2022-08-22 11:40] nathantournant commented on #575
Hi,
The bug was found, it seems an inconsistent call to a config pointer was at fault, which we've always set internally but you probably (and rightfully !) didn't.
Here's the [bugfix PR](https://github.com/DataDog/chaos-controller/pull/576), the release should come in shortly.
We're discussing the flag possibility internally and will get back to you on that.

[2022-08-22 12:28] expFlower commented on #575
Amazing, thanks for the prompt feedback @nathantournant! Once the bugfix is merged we will look to validate this in our environment.

[2022-08-24 14:06] nathantournant commented on #575
This

[2022-09-16 12:59] nikos912000 opened #588 "User Issue: Unable to terminate node level network experiments"
**Describe the bug**
While executing Availability Zone network Disruptions we noticed that deleting the Disruption resource does not terminate the experiment.
I suspect this is expected. However, I am curious to understand if there is anything we could do, other than manually killing the affected Nodes in case of an emergency.

**To Reproduce**
Steps to reproduce the behavior:
1. Apply the followi

[2022-09-16 15:18] nikos912000 commented on #588
Hi @ptnapoleon
The reason for using a short duration is because the Node gets replaced after ~10mins by either the AWS Auto Scaling groups or the Cluster Autoscaler anyways.

I was trying to ensure an emergency rollback a) in case we want to terminate an experiment before the autoscaling kicks in and b) in case there are issues with the autoscaling.
The Chaos Pods do get cleaned up once the experi

[2022-09-20 15:01] ptnapoleon commented on #588
cc @Devatoria

It seems then that our protections that allow the chaos pods to receive the termination from kubelet aren't working on EKS. I don't have access to an EKS environment to debug.

You can use `injector.networkDisruption.allowedHosts` in the config map to specify additional allowed hosts, which, if you're able to identify what needs explicitly exempted from a full network drop, can be u

[2022-09-21 10:52] Devatoria commented on #588
My guess (you seemed to all confirm this here anyway) is that the kubelet on the affected node can't talk to the apiserver anymore because of the network failure, so it never receives the delete call made by the controller on chaos pod (the one which is supposed to ask chaos pods to clean up). In this case, chaos pods are indeed put in a `Terminating` state from a kubernetes (etcd) point of view b

[2022-09-21 19:11] nikos912000 commented on #588
Thanks for the clarifications @ptnapoleon @Devatori, that makes sense. I did not realise the `allowedHosts` can be used for this purpose. We will try this out.

[2022-10-03 13:51] Devatoria commented on #588
Hey @nikos912000, did it help or are you still stuck with this?

[2022-10-03 18:11] nikos912000 commented on #588
Hi @Devatoria,
I only picked this up today but I need to spend some time and understand our setup.
Happy to close this as your explanation is clear 👍

[2022-10-04 12:07] Devatoria commented on #588
I'm closing it but please re-open if you're still stuck with it or need some more on our side.

[2022-10-04 12:07] #588 closed

[2022-11-16 15:37] expFlower opened #619 "Static Targeting example"
https://github.com/DataDog/chaos-controller/blob/b45321690210d2dd68f55bc902f9fe01444afc2e/examples/static_targeting.yaml#L15

I think this should be set to `true`?

[2022-11-17 19:04] ptnapoleon commented on #619
Yes, most likely. Would you like to open a PR?

[2022-11-29 16:15] chawlabhishek opened #622 "User Request: Release cloudProviders behind a feature flag in controller"
Note: While `chaos-controller` is open to the public and we consider all suggestions for improvement, we prioritize feature development that is immediately applicable to chaos engineering initiatives within Datadog. We encourage users to contribute ideas to the repository directly in the form of pull requests!

**Is your feature request related to a problem? Please describe.**
- #583 introduced th

[2022-11-29 17:13] Devatoria commented on #622
Hello, thank you for the feedback. Indeed, both requests make sense and we'll think about an implementation very soon, we'll update this thread as soon a possible to let you know.

[2022-11-30 12:19] expFlower commented on #619
#623 Raised.

[2022-11-30 14:56] #619 closed